AL_1 AL_2 AL_3 AL_4 
AK_1 AK_2 AK_3 AK_4 
AZ_1 AZ_2 AZ_3 AZ_4 
AR_1 AR_2 AR_3 AR_4 
CA_1 CA_2 CA_3 CA_4 
CO_1 CO_2 CO_3 CO_4 
CT_1 CT_2 CT_3 CT_4 
DE_1 DE_2 DE_3 DE_4 
FL_1 FL_2 FL_3 FL_4 
GA_1 GA_2 GA_3 GA_4 
HI_1 HI_2 HI_3 HI_4 
ID_1 ID_2 ID_3 ID_4 
IL_1 IL_2 IL_3 IL_4 
IN_1 IN_2 IN_3 IN_4 
IA_1 IA_2 IA_3 IA_4 
KS_1 KS_2 KS_3 KS_4 
KY_1 KY_2 KY_3 KY_4 
LA_1 LA_2 LA_3 LA_4 
ME_1 ME_2 ME_3 ME_4 
MD_1 MD_2 MD_3 MD_4 
MA_1 MA_2 MA_3 MA_4 
MI_1 MI_2 MI_3 MI_4 
MN_1 MN_2 MN_3 MN_4 
MS_1 MS_2 MS_3 MS_4 
MO_1 MO_2 MO_3 MO_4 
MT_1 MT_2 MT_3 MT_4 
NE_1 NE_2 NE_3 NE_4 
NV_1 NV_2 NV_3 NV_4 
NH_1 NH_2 NH_3 NH_4 
NJ_1 NJ_2 NJ_3 NJ_4 
NM_1 NM_2 NM_3 NM_4 
NY_1 NY_2 NY_3 NY_4 
NC_1 NC_2 NC_3 NC_4 
ND_1 ND_2 ND_3 ND_4 
OH_1 OH_2 OH_3 OH_4 
OK_1 OK_2 OK_3 OK_4 
OR_1 OR_2 OR_3 OR_4 
PA_1 PA_2 PA_3 PA_4 
RI_1 RI_2 RI_3 RI_4 
SC_1 SC_2 SC_3 SC_4 
SD_1 SD_2 SD_3 SD_4 
TN_1 TN_2 TN_3 TN_4 
TX_1 TX_2 TX_3 TX_4 
UT_1 UT_2 UT_3 UT_4 
VT_1 VT_2 VT_3 VT_4 
VA_1 VA_2 VA_3 VA_4 
WA_1 WA_2 WA_3 WA_4 
WV_1 WV_2 WV_3 WV_4 
WI_1 WI_2 WI_3 WI_4 
WY_1 WY_2 WY_3 WY_4 
-AL_1 -AL_2
-AL_1 -AL_3
-AL_1 -AL_4
-AL_2 -AL_3
-AL_2 -AL_4
-AL_3 -AL_4
-AK_1 -AK_2
-AK_1 -AK_3
-AK_1 -AK_4
-AK_2 -AK_3
-AK_2 -AK_4
-AK_3 -AK_4
-AZ_1 -AZ_2
-AZ_1 -AZ_3
-AZ_1 -AZ_4
-AZ_2 -AZ_3
-AZ_2 -AZ_4
-AZ_3 -AZ_4
-AR_1 -AR_2
-AR_1 -AR_3
-AR_1 -AR_4
-AR_2 -AR_3
-AR_2 -AR_4
-AR_3 -AR_4
-CA_1 -CA_2
-CA_1 -CA_3
-CA_1 -CA_4
-CA_2 -CA_3
-CA_2 -CA_4
-CA_3 -CA_4
-CO_1 -CO_2
-CO_1 -CO_3
-CO_1 -CO_4
-CO_2 -CO_3
-CO_2 -CO_4
-CO_3 -CO_4
-CT_1 -CT_2
-CT_1 -CT_3
-CT_1 -CT_4
-CT_2 -CT_3
-CT_2 -CT_4
-CT_3 -CT_4
-DE_1 -DE_2
-DE_1 -DE_3
-DE_1 -DE_4
-DE_2 -DE_3
-DE_2 -DE_4
-DE_3 -DE_4
-FL_1 -FL_2
-FL_1 -FL_3
-FL_1 -FL_4
-FL_2 -FL_3
-FL_2 -FL_4
-FL_3 -FL_4
-GA_1 -GA_2
-GA_1 -GA_3
-GA_1 -GA_4
-GA_2 -GA_3
-GA_2 -GA_4
-GA_3 -GA_4
-HI_1 -HI_2
-HI_1 -HI_3
-HI_1 -HI_4
-HI_2 -HI_3
-HI_2 -HI_4
-HI_3 -HI_4
-ID_1 -ID_2
-ID_1 -ID_3
-ID_1 -ID_4
-ID_2 -ID_3
-ID_2 -ID_4
-ID_3 -ID_4
-IL_1 -IL_2
-IL_1 -IL_3
-IL_1 -IL_4
-IL_2 -IL_3
-IL_2 -IL_4
-IL_3 -IL_4
-IN_1 -IN_2
-IN_1 -IN_3
-IN_1 -IN_4
-IN_2 -IN_3
-IN_2 -IN_4
-IN_3 -IN_4
-IA_1 -IA_2
-IA_1 -IA_3
-IA_1 -IA_4
-IA_2 -IA_3
-IA_2 -IA_4
-IA_3 -IA_4
-KS_1 -KS_2
-KS_1 -KS_3
-KS_1 -KS_4
-KS_2 -KS_3
-KS_2 -KS_4
-KS_3 -KS_4
-KY_1 -KY_2
-KY_1 -KY_3
-KY_1 -KY_4
-KY_2 -KY_3
-KY_2 -KY_4
-KY_3 -KY_4
-LA_1 -LA_2
-LA_1 -LA_3
-LA_1 -LA_4
-LA_2 -LA_3
-LA_2 -LA_4
-LA_3 -LA_4
-ME_1 -ME_2
-ME_1 -ME_3
-ME_1 -ME_4
-ME_2 -ME_3
-ME_2 -ME_4
-ME_3 -ME_4
-MD_1 -MD_2
-MD_1 -MD_3
-MD_1 -MD_4
-MD_2 -MD_3
-MD_2 -MD_4
-MD_3 -MD_4
-MA_1 -MA_2
-MA_1 -MA_3
-MA_1 -MA_4
-MA_2 -MA_3
-MA_2 -MA_4
-MA_3 -MA_4
-MI_1 -MI_2
-MI_1 -MI_3
-MI_1 -MI_4
-MI_2 -MI_3
-MI_2 -MI_4
-MI_3 -MI_4
-MN_1 -MN_2
-MN_1 -MN_3
-MN_1 -MN_4
-MN_2 -MN_3
-MN_2 -MN_4
-MN_3 -MN_4
-MS_1 -MS_2
-MS_1 -MS_3
-MS_1 -MS_4
-MS_2 -MS_3
-MS_2 -MS_4
-MS_3 -MS_4
-MO_1 -MO_2
-MO_1 -MO_3
-MO_1 -MO_4
-MO_2 -MO_3
-MO_2 -MO_4
-MO_3 -MO_4
-MT_1 -MT_2
-MT_1 -MT_3
-MT_1 -MT_4
-MT_2 -MT_3
-MT_2 -MT_4
-MT_3 -MT_4
-NE_1 -NE_2
-NE_1 -NE_3
-NE_1 -NE_4
-NE_2 -NE_3
-NE_2 -NE_4
-NE_3 -NE_4
-NV_1 -NV_2
-NV_1 -NV_3
-NV_1 -NV_4
-NV_2 -NV_3
-NV_2 -NV_4
-NV_3 -NV_4
-NH_1 -NH_2
-NH_1 -NH_3
-NH_1 -NH_4
-NH_2 -NH_3
-NH_2 -NH_4
-NH_3 -NH_4
-NJ_1 -NJ_2
-NJ_1 -NJ_3
-NJ_1 -NJ_4
-NJ_2 -NJ_3
-NJ_2 -NJ_4
-NJ_3 -NJ_4
-NM_1 -NM_2
-NM_1 -NM_3
-NM_1 -NM_4
-NM_2 -NM_3
-NM_2 -NM_4
-NM_3 -NM_4
-NY_1 -NY_2
-NY_1 -NY_3
-NY_1 -NY_4
-NY_2 -NY_3
-NY_2 -NY_4
-NY_3 -NY_4
-NC_1 -NC_2
-NC_1 -NC_3
-NC_1 -NC_4
-NC_2 -NC_3
-NC_2 -NC_4
-NC_3 -NC_4
-ND_1 -ND_2
-ND_1 -ND_3
-ND_1 -ND_4
-ND_2 -ND_3
-ND_2 -ND_4
-ND_3 -ND_4
-OH_1 -OH_2
-OH_1 -OH_3
-OH_1 -OH_4
-OH_2 -OH_3
-OH_2 -OH_4
-OH_3 -OH_4
-OK_1 -OK_2
-OK_1 -OK_3
-OK_1 -OK_4
-OK_2 -OK_3
-OK_2 -OK_4
-OK_3 -OK_4
-OR_1 -OR_2
-OR_1 -OR_3
-OR_1 -OR_4
-OR_2 -OR_3
-OR_2 -OR_4
-OR_3 -OR_4
-PA_1 -PA_2
-PA_1 -PA_3
-PA_1 -PA_4
-PA_2 -PA_3
-PA_2 -PA_4
-PA_3 -PA_4
-RI_1 -RI_2
-RI_1 -RI_3
-RI_1 -RI_4
-RI_2 -RI_3
-RI_2 -RI_4
-RI_3 -RI_4
-SC_1 -SC_2
-SC_1 -SC_3
-SC_1 -SC_4
-SC_2 -SC_3
-SC_2 -SC_4
-SC_3 -SC_4
-SD_1 -SD_2
-SD_1 -SD_3
-SD_1 -SD_4
-SD_2 -SD_3
-SD_2 -SD_4
-SD_3 -SD_4
-TN_1 -TN_2
-TN_1 -TN_3
-TN_1 -TN_4
-TN_2 -TN_3
-TN_2 -TN_4
-TN_3 -TN_4
-TX_1 -TX_2
-TX_1 -TX_3
-TX_1 -TX_4
-TX_2 -TX_3
-TX_2 -TX_4
-TX_3 -TX_4
-UT_1 -UT_2
-UT_1 -UT_3
-UT_1 -UT_4
-UT_2 -UT_3
-UT_2 -UT_4
-UT_3 -UT_4
-VT_1 -VT_2
-VT_1 -VT_3
-VT_1 -VT_4
-VT_2 -VT_3
-VT_2 -VT_4
-VT_3 -VT_4
-VA_1 -VA_2
-VA_1 -VA_3
-VA_1 -VA_4
-VA_2 -VA_3
-VA_2 -VA_4
-VA_3 -VA_4
-WA_1 -WA_2
-WA_1 -WA_3
-WA_1 -WA_4
-WA_2 -WA_3
-WA_2 -WA_4
-WA_3 -WA_4
-WV_1 -WV_2
-WV_1 -WV_3
-WV_1 -WV_4
-WV_2 -WV_3
-WV_2 -WV_4
-WV_3 -WV_4
-WI_1 -WI_2
-WI_1 -WI_3
-WI_1 -WI_4
-WI_2 -WI_3
-WI_2 -WI_4
-WI_3 -WI_4
-WY_1 -WY_2
-WY_1 -WY_3
-WY_1 -WY_4
-WY_2 -WY_3
-WY_2 -WY_4
-WY_3 -WY_4
-AL_1 -MS_1
-AL_2 -MS_2
-AL_3 -MS_3
-AL_4 -MS_4
-AL_1 -TN_1
-AL_2 -TN_2
-AL_3 -TN_3
-AL_4 -TN_4
-AL_1 -GA_1
-AL_2 -GA_2
-AL_3 -GA_3
-AL_4 -GA_4
-AL_1 -FL_1
-AL_2 -FL_2
-AL_3 -FL_3
-AL_4 -FL_4
-AZ_1 -CA_1
-AZ_2 -CA_2
-AZ_3 -CA_3
-AZ_4 -CA_4
-AZ_1 -NV_1
-AZ_2 -NV_2
-AZ_3 -NV_3
-AZ_4 -NV_4
-AZ_1 -UT_1
-AZ_2 -UT_2
-AZ_3 -UT_3
-AZ_4 -UT_4
-AZ_1 -CO_1
-AZ_2 -CO_2
-AZ_3 -CO_3
-AZ_4 -CO_4
-AZ_1 -NM_1
-AZ_2 -NM_2
-AZ_3 -NM_3
-AZ_4 -NM_4
-AR_1 -MO_1
-AR_2 -MO_2
-AR_3 -MO_3
-AR_4 -MO_4
-AR_1 -TN_1
-AR_2 -TN_2
-AR_3 -TN_3
-AR_4 -TN_4
-AR_1 -MS_1
-AR_2 -MS_2
-AR_3 -MS_3
-AR_4 -MS_4
-AR_1 -LA_1
-AR_2 -LA_2
-AR_3 -LA_3
-AR_4 -LA_4
-AR_1 -TX_1
-AR_2 -TX_2
-AR_3 -TX_3
-AR_4 -TX_4
-AR_1 -OK_1
-AR_2 -OK_2
-AR_3 -OK_3
-AR_4 -OK_4
-CA_1 -OR_1
-CA_2 -OR_2
-CA_3 -OR_3
-CA_4 -OR_4
-CA_1 -NV_1
-CA_2 -NV_2
-CA_3 -NV_3
-CA_4 -NV_4
-CA_1 -AZ_1
-CA_2 -AZ_2
-CA_3 -AZ_3
-CA_4 -AZ_4
-CO_1 -WY_1
-CO_2 -WY_2
-CO_3 -WY_3
-CO_4 -WY_4
-CO_1 -UT_1
-CO_2 -UT_2
-CO_3 -UT_3
-CO_4 -UT_4
-CO_1 -AZ_1
-CO_2 -AZ_2
-CO_3 -AZ_3
-CO_4 -AZ_4
-CO_1 -NM_1
-CO_2 -NM_2
-CO_3 -NM_3
-CO_4 -NM_4
-CO_1 -OK_1
-CO_2 -OK_2
-CO_3 -OK_3
-CO_4 -OK_4
-CO_1 -KS_1
-CO_2 -KS_2
-CO_3 -KS_3
-CO_4 -KS_4
-CO_1 -NE_1
-CO_2 -NE_2
-CO_3 -NE_3
-CO_4 -NE_4
-CT_1 -NY_1
-CT_2 -NY_2
-CT_3 -NY_3
-CT_4 -NY_4
-CT_1 -MA_1
-CT_2 -MA_2
-CT_3 -MA_3
-CT_4 -MA_4
-CT_1 -RI_1
-CT_2 -RI_2
-CT_3 -RI_3
-CT_4 -RI_4
-DE_1 -MD_1
-DE_2 -MD_2
-DE_3 -MD_3
-DE_4 -MD_4
-DE_1 -PA_1
-DE_2 -PA_2
-DE_3 -PA_3
-DE_4 -PA_4
-DE_1 -NJ_1
-DE_2 -NJ_2
-DE_3 -NJ_3
-DE_4 -NJ_4
-FL_1 -GA_1
-FL_2 -GA_2
-FL_3 -GA_3
-FL_4 -GA_4
-FL_1 -AL_1
-FL_2 -AL_2
-FL_3 -AL_3
-FL_4 -AL_4
-GA_1 -FL_1
-GA_2 -FL_2
-GA_3 -FL_3
-GA_4 -FL_4
-GA_1 -AL_1
-GA_2 -AL_2
-GA_3 -AL_3
-GA_4 -AL_4
-GA_1 -TN_1
-GA_2 -TN_2
-GA_3 -TN_3
-GA_4 -TN_4
-GA_1 -NC_1
-GA_2 -NC_2
-GA_3 -NC_3
-GA_4 -NC_4
-GA_1 -SC_1
-GA_2 -SC_2
-GA_3 -SC_3
-GA_4 -SC_4
-ID_1 -MT_1
-ID_2 -MT_2
-ID_3 -MT_3
-ID_4 -MT_4
-ID_1 -WY_1
-ID_2 -WY_2
-ID_3 -WY_3
-ID_4 -WY_4
-ID_1 -UT_1
-ID_2 -UT_2
-ID_3 -UT_3
-ID_4 -UT_4
-ID_1 -NV_1
-ID_2 -NV_2
-ID_3 -NV_3
-ID_4 -NV_4
-ID_1 -OR_1
-ID_2 -OR_2
-ID_3 -OR_3
-ID_4 -OR_4
-ID_1 -WA_1
-ID_2 -WA_2
-ID_3 -WA_3
-ID_4 -WA_4
-IL_1 -IN_1
-IL_2 -IN_2
-IL_3 -IN_3
-IL_4 -IN_4
-IL_1 -KY_1
-IL_2 -KY_2
-IL_3 -KY_3
-IL_4 -KY_4
-IL_1 -MO_1
-IL_2 -MO_2
-IL_3 -MO_3
-IL_4 -MO_4
-IL_1 -IA_1
-IL_2 -IA_2
-IL_3 -IA_3
-IL_4 -IA_4
-IL_1 -WI_1
-IL_2 -WI_2
-IL_3 -WI_3
-IL_4 -WI_4
-IN_1 -MI_1
-IN_2 -MI_2
-IN_3 -MI_3
-IN_4 -MI_4
-IN_1 -OH_1
-IN_2 -OH_2
-IN_3 -OH_3
-IN_4 -OH_4
-IN_1 -KY_1
-IN_2 -KY_2
-IN_3 -KY_3
-IN_4 -KY_4
-IN_1 -IL_1
-IN_2 -IL_2
-IN_3 -IL_3
-IN_4 -IL_4
-IA_1 -MN_1
-IA_2 -MN_2
-IA_3 -MN_3
-IA_4 -MN_4
-IA_1 -WI_1
-IA_2 -WI_2
-IA_3 -WI_3
-IA_4 -WI_4
-IA_1 -IL_1
-IA_2 -IL_2
-IA_3 -IL_3
-IA_4 -IL_4
-IA_1 -MO_1
-IA_2 -MO_2
-IA_3 -MO_3
-IA_4 -MO_4
-IA_1 -NE_1
-IA_2 -NE_2
-IA_3 -NE_3
-IA_4 -NE_4
-IA_1 -SD_1
-IA_2 -SD_2
-IA_3 -SD_3
-IA_4 -SD_4
-KS_1 -NE_1
-KS_2 -NE_2
-KS_3 -NE_3
-KS_4 -NE_4
-KS_1 -MO_1
-KS_2 -MO_2
-KS_3 -MO_3
-KS_4 -MO_4
-KS_1 -OK_1
-KS_2 -OK_2
-KS_3 -OK_3
-KS_4 -OK_4
-KS_1 -CO_1
-KS_2 -CO_2
-KS_3 -CO_3
-KS_4 -CO_4
-KY_1 -IN_1
-KY_2 -IN_2
-KY_3 -IN_3
-KY_4 -IN_4
-KY_1 -OH_1
-KY_2 -OH_2
-KY_3 -OH_3
-KY_4 -OH_4
-KY_1 -WV_1
-KY_2 -WV_2
-KY_3 -WV_3
-KY_4 -WV_4
-KY_1 -VA_1
-KY_2 -VA_2
-KY_3 -VA_3
-KY_4 -VA_4
-KY_1 -TN_1
-KY_2 -TN_2
-KY_3 -TN_3
-KY_4 -TN_4
-KY_1 -MO_1
-KY_2 -MO_2
-KY_3 -MO_3
-KY_4 -MO_4
-KY_1 -IL_1
-KY_2 -IL_2
-KY_3 -IL_3
-KY_4 -IL_4
-LA_1 -TX_1
-LA_2 -TX_2
-LA_3 -TX_3
-LA_4 -TX_4
-LA_1 -AR_1
-LA_2 -AR_2
-LA_3 -AR_3
-LA_4 -AR_4
-LA_1 -MS_1
-LA_2 -MS_2
-LA_3 -MS_3
-LA_4 -MS_4
-ME_1 -NH_1
-ME_2 -NH_2
-ME_3 -NH_3
-ME_4 -NH_4
-MD_1 -PA_1
-MD_2 -PA_2
-MD_3 -PA_3
-MD_4 -PA_4
-MD_1 -DE_1
-MD_2 -DE_2
-MD_3 -DE_3
-MD_4 -DE_4
-MD_1 -VA_1
-MD_2 -VA_2
-MD_3 -VA_3
-MD_4 -VA_4
-MD_1 -WV_1
-MD_2 -WV_2
-MD_3 -WV_3
-MD_4 -WV_4
-MA_1 -RI_1
-MA_2 -RI_2
-MA_3 -RI_3
-MA_4 -RI_4
-MA_1 -CT_1
-MA_2 -CT_2
-MA_3 -CT_3
-MA_4 -CT_4
-MA_1 -NY_1
-MA_2 -NY_2
-MA_3 -NY_3
-MA_4 -NY_4
-MA_1 -NH_1
-MA_2 -NH_2
-MA_3 -NH_3
-MA_4 -NH_4
-MA_1 -VT_1
-MA_2 -VT_2
-MA_3 -VT_3
-MA_4 -VT_4
-MI_1 -IN_1
-MI_2 -IN_2
-MI_3 -IN_3
-MI_4 -IN_4
-MI_1 -OH_1
-MI_2 -OH_2
-MI_3 -OH_3
-MI_4 -OH_4
-MI_1 -WI_1
-MI_2 -WI_2
-MI_3 -WI_3
-MI_4 -WI_4
-MN_1 -ND_1
-MN_2 -ND_2
-MN_3 -ND_3
-MN_4 -ND_4
-MN_1 -SD_1
-MN_2 -SD_2
-MN_3 -SD_3
-MN_4 -SD_4
-MN_1 -IA_1
-MN_2 -IA_2
-MN_3 -IA_3
-MN_4 -IA_4
-MN_1 -WI_1
-MN_2 -WI_2
-MN_3 -WI_3
-MN_4 -WI_4
-MS_1 -TN_1
-MS_2 -TN_2
-MS_3 -TN_3
-MS_4 -TN_4
-MS_1 -AL_1
-MS_2 -AL_2
-MS_3 -AL_3
-MS_4 -AL_4
-MS_1 -LA_1
-MS_2 -LA_2
-MS_3 -LA_3
-MS_4 -LA_4
-MS_1 -AR_1
-MS_2 -AR_2
-MS_3 -AR_3
-MS_4 -AR_4
-MO_1 -IA_1
-MO_2 -IA_2
-MO_3 -IA_3
-MO_4 -IA_4
-MO_1 -IL_1
-MO_2 -IL_2
-MO_3 -IL_3
-MO_4 -IL_4
-MO_1 -KY_1
-MO_2 -KY_2
-MO_3 -KY_3
-MO_4 -KY_4
-MO_1 -TN_1
-MO_2 -TN_2
-MO_3 -TN_3
-MO_4 -TN_4
-MO_1 -AR_1
-MO_2 -AR_2
-MO_3 -AR_3
-MO_4 -AR_4
-MO_1 -OK_1
-MO_2 -OK_2
-MO_3 -OK_3
-MO_4 -OK_4
-MO_1 -KS_1
-MO_2 -KS_2
-MO_3 -KS_3
-MO_4 -KS_4
-MO_1 -NE_1
-MO_2 -NE_2
-MO_3 -NE_3
-MO_4 -NE_4
-MT_1 -ID_1
-MT_2 -ID_2
-MT_3 -ID_3
-MT_4 -ID_4
-MT_1 -WY_1
-MT_2 -WY_2
-MT_3 -WY_3
-MT_4 -WY_4
-MT_1 -SD_1
-MT_2 -SD_2
-MT_3 -SD_3
-MT_4 -SD_4
-MT_1 -ND_1
-MT_2 -ND_2
-MT_3 -ND_3
-MT_4 -ND_4
-NE_1 -SD_1
-NE_2 -SD_2
-NE_3 -SD_3
-NE_4 -SD_4
-NE_1 -IA_1
-NE_2 -IA_2
-NE_3 -IA_3
-NE_4 -IA_4
-NE_1 -MO_1
-NE_2 -MO_2
-NE_3 -MO_3
-NE_4 -MO_4
-NE_1 -KS_1
-NE_2 -KS_2
-NE_3 -KS_3
-NE_4 -KS_4
-NE_1 -CO_1
-NE_2 -CO_2
-NE_3 -CO_3
-NE_4 -CO_4
-NE_1 -WY_1
-NE_2 -WY_2
-NE_3 -WY_3
-NE_4 -WY_4
-NV_1 -OR_1
-NV_2 -OR_2
-NV_3 -OR_3
-NV_4 -OR_4
-NV_1 -CA_1
-NV_2 -CA_2
-NV_3 -CA_3
-NV_4 -CA_4
-NV_1 -AZ_1
-NV_2 -AZ_2
-NV_3 -AZ_3
-NV_4 -AZ_4
-NV_1 -UT_1
-NV_2 -UT_2
-NV_3 -UT_3
-NV_4 -UT_4
-NV_1 -ID_1
-NV_2 -ID_2
-NV_3 -ID_3
-NV_4 -ID_4
-NH_1 -VT_1
-NH_2 -VT_2
-NH_3 -VT_3
-NH_4 -VT_4
-NH_1 -ME_1
-NH_2 -ME_2
-NH_3 -ME_3
-NH_4 -ME_4
-NH_1 -MA_1
-NH_2 -MA_2
-NH_3 -MA_3
-NH_4 -MA_4
-NJ_1 -DE_1
-NJ_2 -DE_2
-NJ_3 -DE_3
-NJ_4 -DE_4
-NJ_1 -PA_1
-NJ_2 -PA_2
-NJ_3 -PA_3
-NJ_4 -PA_4
-NJ_1 -NY_1
-NJ_2 -NY_2
-NJ_3 -NY_3
-NJ_4 -NY_4
-NM_1 -AZ_1
-NM_2 -AZ_2
-NM_3 -AZ_3
-NM_4 -AZ_4
-NM_1 -UT_1
-NM_2 -UT_2
-NM_3 -UT_3
-NM_4 -UT_4
-NM_1 -CO_1
-NM_2 -CO_2
-NM_3 -CO_3
-NM_4 -CO_4
-NM_1 -OK_1
-NM_2 -OK_2
-NM_3 -OK_3
-NM_4 -OK_4
-NM_1 -TX_1
-NM_2 -TX_2
-NM_3 -TX_3
-NM_4 -TX_4
-NY_1 -NJ_1
-NY_2 -NJ_2
-NY_3 -NJ_3
-NY_4 -NJ_4
-NY_1 -PA_1
-NY_2 -PA_2
-NY_3 -PA_3
-NY_4 -PA_4
-NY_1 -VT_1
-NY_2 -VT_2
-NY_3 -VT_3
-NY_4 -VT_4
-NY_1 -MA_1
-NY_2 -MA_2
-NY_3 -MA_3
-NY_4 -MA_4
-NY_1 -CT_1
-NY_2 -CT_2
-NY_3 -CT_3
-NY_4 -CT_4
-NC_1 -GA_1
-NC_2 -GA_2
-NC_3 -GA_3
-NC_4 -GA_4
-NC_1 -SC_1
-NC_2 -SC_2
-NC_3 -SC_3
-NC_4 -SC_4
-NC_1 -TN_1
-NC_2 -TN_2
-NC_3 -TN_3
-NC_4 -TN_4
-NC_1 -VA_1
-NC_2 -VA_2
-NC_3 -VA_3
-NC_4 -VA_4
-ND_1 -MT_1
-ND_2 -MT_2
-ND_3 -MT_3
-ND_4 -MT_4
-ND_1 -SD_1
-ND_2 -SD_2
-ND_3 -SD_3
-ND_4 -SD_4
-ND_1 -MN_1
-ND_2 -MN_2
-ND_3 -MN_3
-ND_4 -MN_4
-OH_1 -MI_1
-OH_2 -MI_2
-OH_3 -MI_3
-OH_4 -MI_4
-OH_1 -IN_1
-OH_2 -IN_2
-OH_3 -IN_3
-OH_4 -IN_4
-OH_1 -KY_1
-OH_2 -KY_2
-OH_3 -KY_3
-OH_4 -KY_4
-OH_1 -WV_1
-OH_2 -WV_2
-OH_3 -WV_3
-OH_4 -WV_4
-OH_1 -PA_1
-OH_2 -PA_2
-OH_3 -PA_3
-OH_4 -PA_4
-OK_1 -KS_1
-OK_2 -KS_2
-OK_3 -KS_3
-OK_4 -KS_4
-OK_1 -MO_1
-OK_2 -MO_2
-OK_3 -MO_3
-OK_4 -MO_4
-OK_1 -AR_1
-OK_2 -AR_2
-OK_3 -AR_3
-OK_4 -AR_4
-OK_1 -TX_1
-OK_2 -TX_2
-OK_3 -TX_3
-OK_4 -TX_4
-OK_1 -NM_1
-OK_2 -NM_2
-OK_3 -NM_3
-OK_4 -NM_4
-OK_1 -CO_1
-OK_2 -CO_2
-OK_3 -CO_3
-OK_4 -CO_4
-OR_1 -WA_1
-OR_2 -WA_2
-OR_3 -WA_3
-OR_4 -WA_4
-OR_1 -ID_1
-OR_2 -ID_2
-OR_3 -ID_3
-OR_4 -ID_4
-OR_1 -NV_1
-OR_2 -NV_2
-OR_3 -NV_3
-OR_4 -NV_4
-OR_1 -CA_1
-OR_2 -CA_2
-OR_3 -CA_3
-OR_4 -CA_4
-PA_1 -NY_1
-PA_2 -NY_2
-PA_3 -NY_3
-PA_4 -NY_4
-PA_1 -NJ_1
-PA_2 -NJ_2
-PA_3 -NJ_3
-PA_4 -NJ_4
-PA_1 -DE_1
-PA_2 -DE_2
-PA_3 -DE_3
-PA_4 -DE_4
-PA_1 -MD_1
-PA_2 -MD_2
-PA_3 -MD_3
-PA_4 -MD_4
-PA_1 -WV_1
-PA_2 -WV_2
-PA_3 -WV_3
-PA_4 -WV_4
-PA_1 -OH_1
-PA_2 -OH_2
-PA_3 -OH_3
-PA_4 -OH_4
-RI_1 -MA_1
-RI_2 -MA_2
-RI_3 -MA_3
-RI_4 -MA_4
-RI_1 -CT_1
-RI_2 -CT_2
-RI_3 -CT_3
-RI_4 -CT_4
-SC_1 -GA_1
-SC_2 -GA_2
-SC_3 -GA_3
-SC_4 -GA_4
-SC_1 -NC_1
-SC_2 -NC_2
-SC_3 -NC_3
-SC_4 -NC_4
-SD_1 -ND_1
-SD_2 -ND_2
-SD_3 -ND_3
-SD_4 -ND_4
-SD_1 -MT_1
-SD_2 -MT_2
-SD_3 -MT_3
-SD_4 -MT_4
-SD_1 -WY_1
-SD_2 -WY_2
-SD_3 -WY_3
-SD_4 -WY_4
-SD_1 -NE_1
-SD_2 -NE_2
-SD_3 -NE_3
-SD_4 -NE_4
-SD_1 -IA_1
-SD_2 -IA_2
-SD_3 -IA_3
-SD_4 -IA_4
-SD_1 -MN_1
-SD_2 -MN_2
-SD_3 -MN_3
-SD_4 -MN_4
-TN_1 -KY_1
-TN_2 -KY_2
-TN_3 -KY_3
-TN_4 -KY_4
-TN_1 -VA_1
-TN_2 -VA_2
-TN_3 -VA_3
-TN_4 -VA_4
-TN_1 -NC_1
-TN_2 -NC_2
-TN_3 -NC_3
-TN_4 -NC_4
-TN_1 -GA_1
-TN_2 -GA_2
-TN_3 -GA_3
-TN_4 -GA_4
-TN_1 -AL_1
-TN_2 -AL_2
-TN_3 -AL_3
-TN_4 -AL_4
-TN_1 -MS_1
-TN_2 -MS_2
-TN_3 -MS_3
-TN_4 -MS_4
-TN_1 -AR_1
-TN_2 -AR_2
-TN_3 -AR_3
-TN_4 -AR_4
-TN_1 -MO_1
-TN_2 -MO_2
-TN_3 -MO_3
-TN_4 -MO_4
-TX_1 -OK_1
-TX_2 -OK_2
-TX_3 -OK_3
-TX_4 -OK_4
-TX_1 -AR_1
-TX_2 -AR_2
-TX_3 -AR_3
-TX_4 -AR_4
-TX_1 -LA_1
-TX_2 -LA_2
-TX_3 -LA_3
-TX_4 -LA_4
-TX_1 -NM_1
-TX_2 -NM_2
-TX_3 -NM_3
-TX_4 -NM_4
-UT_1 -ID_1
-UT_2 -ID_2
-UT_3 -ID_3
-UT_4 -ID_4
-UT_1 -WY_1
-UT_2 -WY_2
-UT_3 -WY_3
-UT_4 -WY_4
-UT_1 -CO_1
-UT_2 -CO_2
-UT_3 -CO_3
-UT_4 -CO_4
-UT_1 -NM_1
-UT_2 -NM_2
-UT_3 -NM_3
-UT_4 -NM_4
-UT_1 -AZ_1
-UT_2 -AZ_2
-UT_3 -AZ_3
-UT_4 -AZ_4
-UT_1 -NV_1
-UT_2 -NV_2
-UT_3 -NV_3
-UT_4 -NV_4
-VT_1 -NY_1
-VT_2 -NY_2
-VT_3 -NY_3
-VT_4 -NY_4
-VT_1 -NH_1
-VT_2 -NH_2
-VT_3 -NH_3
-VT_4 -NH_4
-VT_1 -MA_1
-VT_2 -MA_2
-VT_3 -MA_3
-VT_4 -MA_4
-VA_1 -NC_1
-VA_2 -NC_2
-VA_3 -NC_3
-VA_4 -NC_4
-VA_1 -TN_1
-VA_2 -TN_2
-VA_3 -TN_3
-VA_4 -TN_4
-VA_1 -KY_1
-VA_2 -KY_2
-VA_3 -KY_3
-VA_4 -KY_4
-VA_1 -WV_1
-VA_2 -WV_2
-VA_3 -WV_3
-VA_4 -WV_4
-VA_1 -MD_1
-VA_2 -MD_2
-VA_3 -MD_3
-VA_4 -MD_4
-WA_1 -ID_1
-WA_2 -ID_2
-WA_3 -ID_3
-WA_4 -ID_4
-WA_1 -OR_1
-WA_2 -OR_2
-WA_3 -OR_3
-WA_4 -OR_4
-WV_1 -OH_1
-WV_2 -OH_2
-WV_3 -OH_3
-WV_4 -OH_4
-WV_1 -PA_1
-WV_2 -PA_2
-WV_3 -PA_3
-WV_4 -PA_4
-WV_1 -MD_1
-WV_2 -MD_2
-WV_3 -MD_3
-WV_4 -MD_4
-WV_1 -VA_1
-WV_2 -VA_2
-WV_3 -VA_3
-WV_4 -VA_4
-WV_1 -KY_1
-WV_2 -KY_2
-WV_3 -KY_3
-WV_4 -KY_4
-WI_1 -MN_1
-WI_2 -MN_2
-WI_3 -MN_3
-WI_4 -MN_4
-WI_1 -IA_1
-WI_2 -IA_2
-WI_3 -IA_3
-WI_4 -IA_4
-WI_1 -IL_1
-WI_2 -IL_2
-WI_3 -IL_3
-WI_4 -IL_4
-WI_1 -MI_1
-WI_2 -MI_2
-WI_3 -MI_3
-WI_4 -MI_4
-WY_1 -MT_1
-WY_2 -MT_2
-WY_3 -MT_3
-WY_4 -MT_4
-WY_1 -SD_1
-WY_2 -SD_2
-WY_3 -SD_3
-WY_4 -SD_4
-WY_1 -NE_1
-WY_2 -NE_2
-WY_3 -NE_3
-WY_4 -NE_4
-WY_1 -CO_1
-WY_2 -CO_2
-WY_3 -CO_3
-WY_4 -CO_4
-WY_1 -UT_1
-WY_2 -UT_2
-WY_3 -UT_3
-WY_4 -UT_4
-WY_1 -ID_1
-WY_2 -ID_2
-WY_3 -ID_3
-WY_4 -ID_4
